<form <%= "action=" + action  %> method="post">
    <div>
      <label for="pseudo">pseudo</label>
      <input name="pseudo" id="pseudo" value="pseudo">
    </div>
    <div>
      <label for="email">email</label>
      <input name="email" id="email" value="email">
    </div>
    <div>
      <label for="firstname">Firstname</label>
      <input name="firstname" id="firstname" value="firstname">
    </div>
    <div>
      <label for="lastname">lastname</label>
      <input name="lastname" id="lastname" value="lastname">
    </div>
    <div>
      <button type="submit">Send</button>
    </div>
  </form>
